@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Quicksand';
    color: white;
}

body{
    display: flex;
    background-color: #02010e;
}

.container{
    width: 100%;
    background-color: #02010e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container .title{
    width: 100%;
    margin-top: 5vw;
    padding-top: 25px;
    text-align: center;
}

.container .content{
    width: 100%;
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .content .chart{
    width: fit-content;
    padding: 25px;
    background-color: rgba(255,255,255, 0.03);
    border: 1.5px solid rgba(255,255,255, 0.05);
    border-radius: 25px;
}

.container .content .chart canvas{
    position: relative;
    width: 40vw;
    height: 40vh;
    font-family: 'Poppins';
    color: white;
}

h1{
    color: white;
    text-shadow: 0px 4px 4px rgba(30, 0, 255, 0.4);
}

@media (max-width: 1663px){
    .container .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 5vh;
    }
}